<header class="row">
  <h1 class="text-center">Character Name</h1>
</header>
<section class="row">
  <form>
    <div class="form-group">
      <label for="keywords" class="sr-only">Character Index</label>
      <input ng-model="keywords" name="keywords" type="text" autofocus class="form-control" placeholder="Character name">
    </div>
    <div class="form-group col-md-6 col-md-offset-3 text-center">
      <button ng-click="search(keywords)" class="btn btn-primary btn-lg">Search</button>
    </div>
  </form>
  <div class="form-group">
    <label for="character-name" class="sr-only">New Character Name</label>
    <input type="text" ng-model="character_name" name="character-name" class="form-control" placeholder="New character name">
    <button ng-click="createCharacter(character_name)" class="btn btn-primary btn-lg">New Character</button>
  </div>
</section>
<hr>
<section class="row" ng-if="characters">
  <h1 class="text-center h2">Characters</h1>
  <ul class="list-unstyled">
    <li ng-repeat="character in characters">
      <section class="well col-md-6 col-md-offset-3">
        <h1 class="h3 col-md-6" style="margin-top: 0"><a href="/#/sheets/{{character.id}}">{{character.name}}</a></h1>
        <div class="col-md-6">
<!--           <button class="btn btn-info">Edit</button> -->
          <button class="btn btn-danger">Delete</button>
        </div>
      </section>
    </li>
  </ul>
</section>
