<header class="row">
  <a href="/#/">Return to index</a>
  <h1 class="text-center">{{character.name}}</h1>
</header>
<section class="row">
  <form>
    <div class="form-group">
      <label for="keywords" class="sr-only">Statistic Name</label>
      <input ng-model="keywords" name="keywords" type="text" autofocus class="form-control" placeholder="Statistic name, e.g. Strength, HP, Initiative">
    </div>
    <div class="form-group text-center">
      <button ng-click="addStatistic(keywords)" class="btn btn-primary btn-lg">Add Statistic</button>
    </div>
  </form>
</section>
<hr>
<section class="row" ng-if="character.statistics">
  <h2>Statistics</h1>
  <ul class="list-unstyled">
    <li ng-repeat="(name, statistic) in character.statistics"
        ng-controller="StatisticController"
        class="statistic">
      <section class="well">
        <form name="statistic_{{name}}_form" class="form-group">
          <h3><a href="#">{{name}}</a></h1>
          <div class="label-box wcs-base">
            <label>Base value</label>
            <input ng-model="statistic.base_value" name="{{statistic.name}}-base-value" type="number" class="form-control" required>
          </div>
          <div class="label-box wcs-expr">
            <label>Expression</label>
            <input ng-model="statistic.expression" name="{{statistic.name}}-expression" type="text" class="form-control" required>
          </div>
          <p>Output: <span ng-bind="compute(name)" class="output"></span></p>
          <button class="btn btn-danger">Delete</button>
        </form>
        <!-- <p>{{character.statistics[name]}}</p> -->

<!--           <button class="btn btn-info">Edit</button> -->
      </section>
    </li>
  </ul>
</section>
